tmp
Desktop
Downloads
avon
eclipse
etc/twitter.conf
examples.desktop
perl5
vm
workspace*
.*history
.cache
.freeciv
.xsession*
.xinput*
.pulse*
.padre
.pki
.Xauthority
.openproj
.recently-used*
.sudo*
.thumbnails
.Skype
Dropbox
ii
etc/bg
etc/ibmdyn.conf
.webex
.ssh
.nb
.macromedia
.viminfo
.update-notifier
.profile
.ICEauthority
.VirtualBox
.adobe
.compiz
.hplip
.printer-groups.xml
.mozilla
.vmware
.ure
.local
.lesshst
.kde
.java
.gtk-bookmarks
.broffice.org
.cups
.dbus
.esd_auth
