*~
*.swp
*.bkp
.adobe
avon
.broffice.org
.*cache*
.compiz
.config
.cups
.dbus
Desktop
Downloads
Dropbox
.dropbox
eclipse
.esd_auth
etc/bg
etc/ibmdyn.conf
etc/twitter.conf
.evolution
examples.desktop
.fontconfig
.gconf*
.gegl-0.0/
.gimp-2.6
.gksu.lock
.gnome2
.gnupg
.googleearth
.gtk-bookmarks
.*history
.hplip
.ICEauthority
ii
.java
.kde
.lesshst
.local
.macromedia
.mozilla
.nb
.openproj
.padre
perl5
.pki
.printer-groups.xml
.profile
.pulse*
.recently-used*
.Skype
.ssh
.sudo*
.thumbnails
tmp
.update-notifier
.ure
.viminfo
.VirtualBox
vm
.vmware
.webex
workspace*
.Xauthority
.xinput*
.xsession*
.dmrc
.cpan/build
.cpan/sources
.dropbox-dist
.cpanplus
.gstreamer-0.10
.cpanreporter/reports-sent.db
.cpan/FTPstats.yml
ppgd.log
ProgramasRFB
vpd.properties
vuze
Azureus*
.update*
.rnd
.wine*
.gnucash
.receitanet
.gvfs
.gnome*
.dvdcss
.azureus
Pictures
.netx
.readahead_collect
Ubuntu One/
Music
.zenmap
.wireshark
etc/cron.shared-fix-permissions
etc/.ibm
var
.ibm
.camel_certs
.qt
.purple
.cpan/Bundle/Template
.desktopflickr
.xine
Documents
install
IBM
etc/root.crontab
.icedteaplugin
.ies4linux
.installjammerinfo
.wapi
.mplayer
!.mplayer/config
.mp3diags*
.openoffice.org
.openastro.org
.rnd
.vim
.azpltw.store
git
.lftp
mirrors
blueproximity.log
.ldapsimpleserver
CV
.stella
.cpanm
.freeciv/saves
.pause
.agnc
.anyconnect
.attdial
.ipselect
.lotus
.wclient
Download*
Presentation_Central
dlmgr_.pro
.netrc
.cpantesters
lotus
SametimeMeetings
.git-achievements-action.log
signature.html
isoimages
.ILC
.~*
.IBMERS
Clientes
.dvdrip*
.git-achievements*
local
ibm
.libquicktime_codecs
dvdrip*
.BOINC*
.perlbrew
.*eclipse*
VirtualMachines
.smbc
.thunderbird
Sametime*
