tmp
Desktop
Downloads
avon
eclipse
etc/twitter.conf
examples.desktop
perl5
vm
workspace*
.*history
.cache
.freeciv
.xsession*
.xinput*
.pulse*
.padre
.pki
.Xauthority
.openproj
.recently-used*
.sudo*
.thumbnails
