[user]
	name = Alexei Znamensky
	email = russoz@cpan.org
[alias]
    co = checkout
    br = branch
    ci = commit -s
    st = status
    unstage = reset HEAD --
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = /home/az/etc/gitignore.global
[achievement]
	upload = true
