[user]
	name = Alexei Znamensky
	#email = russoz@cpan.org
	email = alexei.znamensky@movile.com
[alias]
	sh = !git-sh
    co = checkout
    br = branch
    ci = commit -s
    st = status
    unstage = reset HEAD --
[color]
	diff = auto
	status = auto
	branch = auto
	sh = auto
[core]
	excludesfile = /home/az/etc/gitignore.global
[achievement]
	upload = true
[giggle]
	main-window-maximized = true
	main-window-geometry = 1340x777+15+48
	file-view-vpane-position = 532
	main-window-view = FileView
	history-view-vpane-position = 638
[push]
	default = matching
[reviewboard]
	url = http://reviewboard.movile.com/
