# Telepathy accounts

[haze/sametime/Alexei_20Znamensky0]
manager=haze
protocol=sametime
DisplayName=Alexei Znamensky
param-account=Alexei Znamensky
Icon=im-sametime
Enabled=false

param-server=imessaging.avon.com
HasBeenOnline=true
Nickname=Alexei Znamensky
NormalizedName=Alexei Znamensky

param-fake-client-id=true

[gabble/jabber/russoz_40gmail_2ecom0]
manager=gabble
protocol=jabber
DisplayName=russoz@gmail.com
param-account=russoz@gmail.com
param-server=talk.google.com
Icon=im-google-talk
Enabled=true
HasBeenOnline=true
Nickname=Alexei Znamensky
NormalizedName=russoz@gmail.com
AvatarMime=image/jpeg

param-require-encryption=true
param-port=443
param-ignore-ssl-errors=true
param-old-ssl=true

avatar_token=caed9e127a054108c31b031f28814764c992d22e

param-priority=-3

[butterfly/msn/russoz_40gmail_2ecom0]
manager=butterfly
protocol=msn
DisplayName=russoz@gmail.com
param-account=russoz@gmail.com
Icon=im-msn
Enabled=true
HasBeenOnline=true
Nickname=Alexei
NormalizedName=russoz@gmail.com

AvatarMime=image/jpeg
avatar_token=77f49fe4c7dda42250bbf5e3c7c74f80233b7442

